html {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
body {
    background-color: transparent;
    margin: 0;
    font-family: Orbitron;
    background-color: #d5d5d5;
    color: #292929;
}
i {
    color: #292922;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.footer {
  border-top: #000 3px solid;
  color: #292922;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(185, 185, 185, 0.9);
}
.footer p,a {
  text-align: center;
  text-decoration:none;
  color: #292929;
  margin: 10px;
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card {
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgb(140, 0, 255, 0.541);
    background-color: transparent;
}
.container {
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: rgb(140, 0, 255)
}
.button {
    border: rgba(140, 0, 255, 0.541) solid 1px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(46, 46, 46);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background-color: rgb(46, 46, 46);
    color: #fff;
}