html {
    background-color: #c5c5c5;
    color: #000;
    margin: 0px;
}
.footer {
    border-top: #000 solid 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #000;
    text-align: center;
}