html {
    background-color: #e0e0e0;
    color: #000;
    margin: 0px;
}
.footer {
    border-top: #000 3px solid;
    color: #D4D4D4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(34, 34, 34. 0.9);
}
    .footer p,a {
    text-align: center;
    text-decoration:none;
    color: #D4D4D4;
    margin: 10px;
}